.post {
  width: calc((100%-120px) / 3);
  text-align: left;
  margin: 0 20px 30px;
  background: #fff;
  box-shadow: 0 10px 24px -10px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  :global .dark-theme :local & {
    background: var(--dark-background-secondary);
    box-shadow: none;
  }

  :hover img {
    transform: scale(1.05);
  }

  @media (--tablet) {
    width: calc((100%-80px) / 2);
  }

  @media (--phone) {
    width: calc((100%-40px));
  }

  h1 {
    margin: 0 0 10px;
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.4rem;
  }

  img {
    transition: all 0.2s ease-in-out !important;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: #00896c;
    :global .dark-theme :local & {
      color: #f7d94c;
    }
  }

  p a {
    color: #00896c;
    :global .dark-theme :local & {
      color: #f7d94c;
    }
  }
}

.title {
  a {
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.4rem;
  }
}

.coverImage {
  border-radius: 10px 10px 0 0;
  margin-bottom: 20px;
}

.meta {
  font-size: 0.9rem;
  margin-bottom: 10px;
  padding: 0 20px;
}

.tags {
  padding: 10px 20px 15px;
  color: #fff;
  border-top: 1px solid #bbb;
  border-radius: 0 0 10px 10px;
  :global .dark-theme :local & {
    border-color: #666;
  }
}

.tag {
  font-size: 0.8rem;
  display: inline-block;
  margin-right: 5px;
  padding: 2px 7px;
  color: #00896c;
  border: 1px solid #00896c;
  border-radius: 4px;
  :global .dark-theme :local & {
    border-color: #f7d94c;
    color: #f7d94c;
  }

  &:hover {
    background: #00896c;
    color: #fff;
    :global .dark-theme :local & {
      background: #f7d94c;
      color: #333;
    }
  }
}

.article {
  padding: 0 20px;
}

.readMore {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 0;
  font-size: 0.9rem;
  padding: 5px 10px;
  background: #f4f4f4;
  border-radius: 50px;
  text-align: center;
  color: #00896c;
  :global .dark-theme :local & {
    background: #333;
    color: #f7d94c;
  }
}

.postContent {
  position: relative;
}
