.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  margin: 0 auto 10px;
  padding: 30px;
  background: #fff;
  box-shadow: 0 10px 24px -10px rgba(0,0,0,.12);
  :global .dark-theme :local & {
    background: var(--dark-background-secondary);
    box-shadow: none;
  }

  @media (--tablet) {
    max-width: 660px;
  }

  h1 {
    margin: 0 0 10px;
  }

  img {
    border-radius: 0;
  }

  a:hover {
    color: #00896c;
    :global .dark-theme :local & {
      color: #f7d94c;
    }
  }

  p a {
    color: #00896c;
    :global .dark-theme :local & {
      color: #f7d94c;
    }
  }
}

.title {
  a {
    text-decoration: none;
    padding: 0 15px;
    font-size: 1.4rem;
  }
}

.coverImage {
  border-radius: 6px;
  margin-bottom: 30px;
}

.meta {
  margin-bottom: 15px;
  font-size: 1rem;
}

.tags {
  opacity: .5;
}

.tag {
  display: inline-block;
  margin-right: 10px;
}

.readMore {
  display: block;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 0;
  font-size: 1rem;
  padding: 5px 10px;
  background: #f4f4f4;
  border-radius: 50px;
  text-align: center;
  color: #00896c;
  :global .dark-theme :local & {
    background: #333;
    color: #f7d94c;
  }
}

.postContent {
  position: relative;
}
